{%extends 'base.html'%}
{% load bootstrap4 %}
{% block title %} Login Here {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div>
    <!-- <div class="row"> -->
    <!-- Empty div -->
    <!-- <div class="col-md-4"></div>
    <div class="col-md-4"> -->
    {% if form.errors %}
    <p> Password or Username is incorrect </p>
    {% endif %}

    <div class="row" style="padding:20px;background-image: url(https://i.pinimg.com/originals/23/b6/e7/23b6e77579244e66a0082797732fcbfd.jpg);background-repeat: no-repeat;background-size: cover">

        <div class="col-md-4"></div>
        <div class="col-md-4" style="background-color: rgba(0,0,0,0.7)">

            <h3 class="text-center" style="font-family: serif;color: rgba(224, 224, 230, 0.9)">Log In</h3>
            <form method="POST" class="form-group" action="{% url 'login' %}" style="height:400px; color:white">
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" class="btn btn-secondary">Login</button>
                <p style="color:rgb(255,255,255,0.7)">Don't have an account? Create One <a href="register/"> Here</a></p>
            </form>

        </div>

    </div>


    <!-- empty div -->
</div>

{% endblock %}