{%extends 'base.html'%}
{% load bootstrap4 %}
{% block title %} Create Account {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row" style="padding:20px;background-image: url(https://i.pinimg.com/originals/23/b6/e7/23b6e77579244e66a0082797732fcbfd.jpg);background-repeat: no-repeat;background-size: cover">
        <div class="col-md-4"></div>
        <div class="col-md-4" class="panel-heading" style="background-color: rgba(0,0,0,0.7)">
                    <h3 class="text-center" style="font-family: serif;color: rgba(241, 231, 231, 0.8)">Create Account</h3>
                    <form method="POST" class="form-group" style="color:white">
                            {% csrf_token %}
                            {{form|crispy}}
                            <button type="submit" class="btn btn-secondary">Register</button>
                    </form>
        </div>
        
    </div>
{% endblock %}