<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for category in categories %}
    <a href="{% url 'carDetails' category.id%}">{{category.categoryPart}}</a>
    {% endfor%}
    {% for sparePart in spareParts %}
    <p>{{sparePart.namePart}}</p>
    <p>{{sparePart.price}}</p>
    <p>{{sparePart.locationPart}}</p>
    <p>{{sparePart.Phone}}</p>
    <img src="{{sparePart.ImagePart.url}}" alt="hh" srcset="">
    <a href="{% url 'addToCart' sparePart.id %}"><button type="submit">add to cart</button></a>
    {% endfor%}
    
</body>
</html>