<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
{%extends 'base.html'%}
{% block content %}
<div>
    {% if profile%}
    {% for profile in profile %}
    <div class="row" style="padding:20px;background-image: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX5449815.jpg);background-repeat: no-repeat;background-size: cover">
        <div class="col-md-3"></div>
       
        <div class="card" style="width:400px;height:500px;background-image: url(https://cdn2.vectorstock.com/i/1000x1000/59/66/shining-star-on-black-background-golden-color-vector-20745966.jpg);margin-left: 120px; margin-top: 35px">
            <img class="card-img-top rounded-circle account-img" src="{{profile.profile_pic.url}}" alt="Card image" style="height: 150px; width:150px; margin-left: 125px;margin-top: 40px">
            <div class="card-body" style="color: White">
                <h4 class="card-title" style="text-align: center;font-family: 'Lobster', cursive; color: rgb(210, 198, 30)">{{profile.user.username}}</h4>
                <p class="card-text" style="text-align: center;font-family: 'Nunito Sans', sans-serif;color: rgb(210, 198, 30)">{{profile.country}}</p>
                <div>
                    <h6 style="margin-left: 35px;font-family: 'Dancing Script', cursive;font-weight: bold;font-size: 12px">MOBILE</h6>
                    <p class="card-text" style="font-family: 'Dancing Script', cursive"><img src="http://www.iconarchive.com/download/i85604/graphicloads/100-flat/phone.ico" height="30px" weight="30px">  +250{{profile.contact}}</p>
                </div>
                <div>
                    <h6 style="margin-left: 35px;font-family: 'Dancing Script', cursive;font-weight: bold;font-size: 12px">EMAIL</h6>
                    <p class="card-text" style="font-family: 'Dancing Script', cursive"><img src="https://cdn.iconscout.com/icon/free/png-256/mail-1140-830582.png" height="25px" weight="30px">  {{profile.email}}</p>
                </div>
                <div  style="padding-top:60px;text-align: center">
                    <a class="card-text" href="{% url 'update_profile' %}" style="color: white;font-family: 'Dancing Script', cursive;font-weight: bold"><img src="https://icon-library.net/images/updating-icon/updating-icon-1.jpg" height="30px" weight="30px"> Update Profile</a>
                </div>
              
            </div>
          </div>
        <div class="col-md-3"></div>
        {%endfor%}
    </div>
    
    {%else%}
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body" styles="width:50px;">
            <h3 class="card-text">No Profile</h3>
            <a class="btn btn-sm btn-secondary" href="{% url 'update_profile' %}"> Update Profile</a>
        </div>
    </div>
</div>
{%endif%}
</div>
<!-- </div> -->
<!-- <div class="col-md-2"></div>  -->
</div>
{%endblock%}